body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* u can use this  dont change vraiables */

:root{
  --primary-color: #e2e2e2;
  --secondary-color: #df0139;
  --black :#1e1e27;
  --black-light:#28242a;

  /* global login-register style */
    --fontFamily: "Libertinus Serif", serif;
    --fontWBtn: 700;
    --shadowBtn: 0 0 10px rgba(0, 0, 0, .3);
    --bgBtn: #fff; 
    --txtBtn: black;
    --bgBtnHover: #e20e0e;
    --txtBtnHover: #fff;

    /* special login-register style */
    --textColor: #fff;
    --errorColor: red;
    --BorderColor: rgba(255,255,255,.2);
    --bgErrMsg: red;
    --txtMsg: #fff;
    --bgSeccMsg: green;
}


/* For          my task     Dont change it     */
.bgColor{
 background-color: var(--black) !important;
 color: var(--primary-color) !important;

}
.btnRed{
  background-color: var(--secondary-color) !important;
  color: var(--primary-color) !important;
}
.textWhite{
  color: var(--primary-color) !important;
}
.bgimg{
  background-image: url('.//../Assets/bg.jpg');

  height: 80vh;
  background-size: cover;
  background-position: center;
  width: 100%;
  
}
.btnAll{
    background-color: var(--secondary-color) !important;
  color: var(--primary-color) !important;
  width: fit-content !important;

}

.imges{
  width: 100%;
  height: 60vh;
 
  
  object-fit: cover;
}
.btnwhite{
  background-color: var(--primary-color) !important;
  color: var(--secondary-color) !important;
}


.fotbg{
  background-color: var(--black-light) !important;
  color: var(--secondary-color) !important;
  position: relative;
  margin-top: 30px;
}
.nh{
  height: 50vh;
}

.footerTxt{
  color: var(--primary-color);

}
.footerRed{
  color: var(--secondary-color);
}
.flex-grow-1 {
  flex: 1;
}

/*Upper code     for my home ,navbar ,footer style    please dont change it                      */


/* in GridBooks books-section style start*/
/* books-section style */
.books-section{
  background-color: #f7f7f7;
  color: #1a1668;
}
/* SingleBook style ==> card*/
.link{
  color: #1a1668;
}
.link:hover{
  color: #eba756;
  cursor: pointer;
}
.p{
  color: #eba756;
}
/* star list style */
.stars li{
  list-style-type: none;
  color:  #ebc856;
}
/* Favorit boxs */
.favIcon{
  margin-left: 5px;
  margin-top: 5px;
}
.mycard{
  position: relative;
}
.FavBox{
  position: absolute;
  content: "";
  top: 25px;
  right: 25px;
  background-color: white;
  box-shadow: 2px 4px 6px 2px rgba(0, 0, 0, 0.2);
  width: 45px;
  height: 45px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
/* download button */
.downloadBtn{
  width: 190px;
  margin: auto;
  margin-top: -20px;
  margin-bottom: 10px;
  color: white;
}
.downloadBtn:hover{
  color: #eba756 !important;
}


/* in GridBooks books-section style end*/


/* in GridBooks books-section style end*/

